$primary-font: 'Poppins', sans-serif;
$yellow: #ffce76;
$dark: #181817;
$white-color: #ffffff;

$dark-green: #749d26;
$dark-gray: #352b30;
$dark-blue: #599ba7;
// $light-dark-green: #e3e5e4;
// $light-dark-gray: #f1f1f1;
// $light-blue: #e9eef1;

$red: #ff412d;

$text-gray-1: #6d6d6d;
$text-gray-2: #838382;
$text-gray-3: #a8a8a7;