*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}
body{
    margin-top: 10px;
}
a{
    text-decoration: none;
}
li:hover{
 cursor: pointer;
 color: #0a7cff;
}
/*  */
.array{
    font-size: 20px;
    font-weight: 600;
}
.bai1,.bai2{
    margin: 20px 10px;
}
.result1{
    font-size: 40px;
}
/*  */
.m-b-md{
    margin-bottom: 70px;
}
.m-b-sm{
    margin-bottom: 20px;
}
/*  */
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.centering{
    align-items: center;
    justify-content: center;
}
/*  */
.btn{
    border-radius: 50px;
    font-size: 15px;
    padding: 9.5px 20px;
    border: none;
    cursor: pointer;
    outline: none;
}
.btn-primary{
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #0a7cff;
}
.btn-primary:hover{
    background-color: #0084ff;
    /* box-shadow: 0 0 0 3pt #0d6dfdef; */
}
.btn:hover{
    box-shadow: 0 0 0 1pt #0d6dfdef;
}

.btn-secondary{
    color: #000;
    background-color: #f5f5f5;
}
.btn-secondary:hover{
    background-color: #f7f7f7;
}
/*  */
.text-primary{
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}
.text-secondary{
    font-size: 22px;
    font-weight: 500;
}
.text-warning{
    font-size: 8px;
    font-weight: 500; 
    color: red; 
}