*{
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}
.task{
  text-align: center;
  padding: 15px 0;
  border: 1.5px solid cadetblue;
  border-radius: 30px;
  margin: 0 25px;
}
.input{
  padding: 10px;
}
input{
  padding: 10px 20px;
  margin: 0 20px;
}
button{
  padding: 10px;
  border-radius: 5px;
  margin: 0 5px;
}
.task table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
}
.table{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-collapse: collapse;
  min-width: 900px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }


