
/* ===================== HEADER =====================*/
.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* justify-content: space-around; */
  flex-shrink: 0;
  padding: 10px 30px;
  border-bottom: 1px solid #1e2833;
}
@media screen and (max-width: 475px) {
  .header {
    padding: 20px;
  }
}
/* Style the buttons */
.topic-select{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
}
.btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-family: var(--body-font);
  margin: 13px 0;
}
.btn:hover{
  color: #fff;
}
.btn.active {
  color: #fff;
}
/*==================== Search Bar ====================*/
.search-bar{
  vertical-align: middle;
  display: flex !important; 
  height: 40px;
  justify-content: flex-start;
  align-items: center; 
  overflow: hidden;
  min-width: 300px;
  margin: 5px 0;
  width: 100%;
  max-width: 450px;
}
.search-bar i {
  font-size: 25px;
}
#clear-search-btn {
  width: 30px;
  height: 30px;
  outline: none;
  cursor: pointer;

  border-radius: 50%;
  background-color: rgb(160, 160, 160);
  color: white;
  border: none;
  text-align: center;
  vertical-align: middle;
  display: none;
  z-index: 5000;
  -webkit-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out;
}
#clear-search-btn:hover {
  background-color: rgb(124, 124, 124);
}
/*==================== Searching Input ====================*/
.search-bar input[type=text] {
  box-sizing: border-box;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 25px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 6px 6px; 
  background-repeat: no-repeat;
  padding: 8px 20px 8px 30px;
  transition-delay: 2s;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.search-bar input[type=text]:focus {
  width: 90%;
}
#clear-search-btn { 
  position: relative !important;
  left: -8%;
}
.search-bar input[type=text]:focus ~ #clear-search-btn {
  left: -8%;
  padding: 0 3px;
} 
/* user in4 =====================*/
.user-settings {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 20px;
  flex-shrink: 0;
  margin-left: auto;
}


span {
  cursor: pointer;
  color: #f00;
}
.right-menu {
  position: relative;
  right: 0;
  top: 0;
  display: flex;
  width: 30%;
  flex: 1;
  justify-content: flex-end;
}
.right-menu button{
  padding: 8px;
  margin: 0 5px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
}
.sign-in{
  background-color: red;
  color:#ffffff !important;
}
.sign-in a,.sign-up a{
  font-family: var(--font-main) !important;
  font-weight: lighter;
  text-decoration: none;
  text-transform: initial;
  font-size: 20px;
}
.right-menu a {
  padding: 7px;
  text-decoration: none;
  align-self: center;
  font-family: cursive;
  font-weight: lighter;
  text-decoration: none;
  text-transform: initial;
  font-size: 20px;
}
.right-menu a:hover,
.links-icons a:hover{
  color: coral;
  text-shadow: 0 0 2px chocolate;
}
/* *************** Responsive Menu - Header **************** */
@media screen and (max-width: 800px) {
  .right-menu button{
    margin-top: 5px  !important;
  }
  .right-menu a {
    font-size: 15px;
    padding: 4px;
  }
  .right-menu .social{
    display: none;
  }
  a1{
    display: none;
  }
  .right-menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 10vh;
    max-width: 40px;
  }
  .right-menu{
    position: fixed ;
    bottom: 0;
    left: 0;
  }
}

/* ================ Login Form Popup ================  */
.login-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5000;
  background-color: #6f7a8500 !important;
}
/* Form */
.signup-form,
.signin-form
{
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform:translate(-50%, -50%);
  background-color:#1e2833;
  border-radius: 10px;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
  transition:.5s ; 
  visibility: hidden;
  opacity: 0;
  z-index: var(--z-fixed-max); 
}

.form{
  width: 500px;
  padding:20px 50px;
}
.form .close{
  text-align: right;
  cursor: pointer;
}
.form .text {
    text-align:center;
    padding:13px 0 15px;
    font-size:120px;
    color:#2980ef;
}
.form form{
  display: block;
  margin: auto;
  color: #fff;
} 

 .form .row{
  display: flex;
  justify-content: space-between;
} 
.form .row input{
  margin-bottom:0;
}
.form .row input :first-child{
  margin-right: 10px;
}
.form .row input :last-child{
  margin-left: 10px;
}
.form form input{
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  width: 100%;
  display: block;
  border-radius: 50px;
  padding: 15px 40px;
  margin: 20px auto;
  outline: none;
  color: inherit;
  font-size: 20px;
}

.signin-form.active,
.signup-form.active{
  top: 40%;
  transition:.5s ;
  visibility: visible;
  opacity: 1;
}

.container.active{
  transition: .5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.192); /* Black w/ opacity */
}
/* Button */
.form button {
	  background-color:#265592;
	  border: none;
    padding: 15px;
    border-radius: 3px;
	  box-shadow: none;
    margin-top: 25px;
    text-shadow: none;
    width: 100%;
    color: inherit;
    outline: none;
  }
  .form button:hover {
	background:#214a80;
  }
  .login-confirmed, .signup-confirmed {
    color: #1ac82c;
    text-align: center;
    text-decoration: none;
    margin: 10px 0;
    display: none;
  }
  .login-confirmed.confirmed, .signup-confirmed.confirmed {
    display: block;
  }

/* Forgot in4 */
  .form .forgot {
    display: block;
    text-align: center;
    font-size: 15px;
    color:#6f7a85;
    opacity: 0.9;
    text-decoration: none;
    margin-top: 20px;
  }
  .form .forgot:hover, .form .forgot:active {
    opacity: 1;
    text-decoration: none;
  }
/* *************** Responsive Login Form **************** */
@media screen and (max-width: 550px) {
    .signup-form,
    .signin-form {
     width: 90%;
    }
    .form {
        width: 100%;
        padding: 10px 25px;
    }
    .form form input {
      font-size: 15px;
      padding: 10px 25px;
    }
    .form button {
      margin-top: 15px;
      padding: 10px;
    }
    .form .text {
      font-size: 90px;
      padding: 8px 10px;
    }
}
/*================ User Page Icon ================*/
.user-page {
  width: 40px;
  height: 40px;
  border:2px solid #ffffff;
  border-radius: 50%;
  margin-right: 7px;
  outline: none;
  color: black;
  font-size: 25px;
  text-align: center;
  padding-top: 7px;
  background-color: rgb(102, 102, 102);
}
