/* ===================== MENU =====================*/
.sidebar {
    width: 220px;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition-duration: 0.2s;
    overflow-y: auto;
    overflow-x: hidden;
  }
  /*  */
  .sidebar .logo {
    display: none;
    width: 30px;
    height: 30px;
    background-color: #22b07d;
    flex-shrink: 0;
    color: #fff;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
  }
  .sidebar .logo-expand {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    line-height: 34px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .sidebar .logo-expand:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    background: var(--theme-bg);
    width: 200px;
    height: 70px;
    z-index: -1;
  }
  /* menu-hover  =====================*/
  .sidebar-link:hover, .sidebar-link.is-active {
    color: #fff;
    font-weight: 600;
  }
  .sidebar-link:hover:nth-child(2n+1) svg, .sidebar-link.is-active:nth-child(2n+1) svg {
    background: #ff7551;
  }
  .sidebar-link:hover:nth-child(2n) svg, .sidebar-link.is-active:nth-child(2n) svg {
    background: #32a7e2;
  }
  .sidebar-link:hover:nth-child(2n+3) svg, .sidebar-link.is-active:nth-child(2n+3) svg {
    background: #6c5ecf;
  }
  /* menu collapse  =====================*/
  .sidebar.collapse {
    width: 90px;
    border-right: 1px solid var(--border-color);
  }
  .sidebar.collapse .logo-expand,
  .sidebar.collapse .side-title {
    display: none;
  }
  .sidebar.collapse .logo {
    display: flex;
  }
  .sidebar.collapse .side-wrapper {
    width: 30px;
  }
  .sidebar.collapse .side-menu svg {
    margin-right: 30px;
  }
  
  @-webkit-keyframes bottom {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes bottom {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  /* menu a =====================*/
  .side-menu {
    display: flex;
    flex-direction: column;
  }
  .side-menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--body-color);
  }
  .side-menu a + a {
    margin-top: 26px;
  }
  .side-menu svg {
    width: 30px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--button-bg);
    flex-shrink: 0;
    margin-right: 16px;
  }
  .side-menu svg:hover {
    color: #fff;
  }
  /* menu tittle =====================*/
  .side-title {
    font-size: 12px;
    letter-spacing: 0.07em;
    margin-bottom: 24px;
  }
  
  .side-wrapper {
    border-bottom: 1px solid var(--border-color);
    padding: 36px 0;
    width: 145px;
  }
  .side-wrapper + .side-wrapper {
    border-bottom: none;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  @media screen and (max-width: 475px) {

    .sidebar.collapse {
      width: 40px;
    }
  
    .sidebar {
      align-items: center;
    }
  }
/*  */
  .createbtn {
    border: none;
    width: 100%;

    border-radius: 15px;
    background: transparent;
    color: rgb(255, 255, 255);
    font-family: var(--body-font);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    transition: background 0.3s ease-in-out;
  }
  
   button.createbtn:hover {
    color: #a79bb6;
  }
  
   button.createbtn i {
    margin-right: 5px;
  }
  @media screen and (max-width: 650px) {
    body{
      background-image: none;
    }
  }
