*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}
body{
    padding-left: 30px;
    margin-top: 10px;
}
a{
    text-decoration: none;
}
li:hover{
 cursor: pointer;
 color: #0a7cff;
}
/*  */
.array{
    font-size: 20px;
    font-weight: 600;
}
.bai1,.bai2,.bai3{
    margin: 20px 10px;
}
.result1,.result2{
    font-size: 40px;
}
/*  */
.m-b-md{
    margin-bottom: 70px;
}
.m-b-sm{
    margin-bottom: 20px;
}
/*  */
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.centering{
    align-items: center;
    justify-content: center;
}
/*  */
.btn{
    margin-top: 10px;
    border-radius: 50px;
    font-size: 15px;
    padding: 9.5px 20px;
    border: 1px solid #000;
    cursor: pointer;
    outline: none;
}
.btn-primary{
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #0a7cff;
}
.btn-primary:hover{
    background-color: #0084ff;
    /* box-shadow: 0 0 0 3pt #0d6dfdef; */
}
.btn:hover{
    box-shadow: 0 0 0 1pt #0d6dfdef;
}

.btn-secondary{
    color: #000;
    background-color: #f5f5f5;
}
.btn-secondary:hover{
    background-color: #f7f7f7;
}
/*  */
.text-primary{
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}
.text-secondary{
    font-size: 18px;
    font-weight: 500;
}
.text-warning{
    font-size: 18px;
    font-weight: 500; 
    color: red; 
}

/*  */
.container{
    padding: 20px;
    margin: 0 !important;
    height: 70vh !important;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 86vw !important;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}
.option{
    margin-left: 15px;
}
.option:hover {
    color: red;
    font-size: 20px;
    cursor: pointer;
    transform: translateX(1px);
    text-decoration: underline;
}
.text-right {
    float: left;
    color: green;
}
.text-wrong {
    float: left;
    color: red;
}
